#title{
    -fx-text-fill: #de8fde;
    -fx-font-size: 50px;
    -fx-font-family: Berlin Sans FB;
}

.root{
    -fx-background-color: #302331;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-font-size: 25pt;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: #9fe04c;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-font-size: 15pt;
}


.button{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: pink;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
    -fx-min-width: 50px;
}

.button:hover{
    -fx-background-color: #ef9bda;
}



.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #ffb3be;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 16pt;
    -fx-text-fill: #000000;

}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 16pt;
    -fx-padding: 5 3 15 3;
}